<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    <h1>레스토랑입니다람쥐.</h1>
    <button onclick="location.href ='/menu/7'">7번 메뉴 보기</button>
    <button onclick="location.href ='/menu/list'">전체 메뉴 보기</button>
    <button onclick="location.href ='/menu/querymethod'">쿼리메소드</button>
    <button onclick="location.href ='/menu/regist'">메뉴등록등록</button>
    <button onclick="location.href ='/menu/modify'">메뉴수정수정</button>
    <button onclick="location.href ='/menu/delete'">메뉴삭제삭제</button>
</body>
</html>