<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    <h1>ExceptionHandler 사용하기</h1>
    <h2>@ExceptionHandler 어노테이션 사용</h2>
    <button onclick="location.href='controller-null'">NullPointerException</button>
    <button onclick="location.href='controller-user'">사용자 정의 Exception</button>
<br>
    <button onclick="location.href='other-controller-null'">other-NullPointerException</button>
    <button onclick="location.href='other-controller-user'">other-사용자 정의 Exception</button>
    <button onclick="location.href='other-controller-array'">other-사용자 정의 Exception</button>
</body>
</html>