<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <H1>@RequestParam으로 파라미터 값 받기</H1>
    <form action="modify" method="post">
        등록 메뉴명: <input type="text" name="name"/><br>
        등록 메뉴 가격: <input type="number" name="price"/><br>
        <button>등록하기</button>
    </form>

    <form action="modifyAll" method="post">
        등록 메뉴명: <input type="text" name="name"/><br>
        등록 메뉴 가격: <input type="number" name="price"/><br>
        <button>등록하기</button>
    </form>
</body>
</html>